<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency converter</title>
</head>
<body>

    <center>
        <h2>Currency Convert</h2>
    <div class="form" >
        <form class="form-control" action="/" method="POST" OnSubmit="handle_input()">
            <label>From </label>
            <input type='text' id="f_currency" name="f_currency" placeholder="from_Currency_id" autofocus/>
            <label>To </label>
            <input type="text" id="t_currency" name="t_currency" placeholder="to_currency_id" autofocus/>
            <button type="submit">submit</button>
        </form>
    </div>
    </center>
</body>
</html>